body {
    margin: 0;
    padding-left: 15px;
    width: 400px;
}
.input-el {
    margin-top: 15px;
    width: 25%;
    padding: 8px;
    border: 2px solid #1ac0c6;

}
#meh{
    display: flex;
    justify-content: space-between;
}
#lot-size-el {
    margin-right: 60px;
    font-weight: Bold;
}
.button-el {
    padding: 5px 10px;
    background-color: #0bd1d8;
    margin-top: 12px;
    margin-left: 5px;
    color: black;
    font-weight: bold;
    border: 2px solid #0bd1d8;
    border-radius: 5%;

}
.button-el:hover {
    background-color: #1ac0c6;
}